/* ./styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

.mySplide .is-active {
  border: 1px solid #dddddd;
}

.mySplide1 {
  margin-top: 10px;
}

.mySplide1 .splide__track--nav>.splide__list>.splide__slide.is-active {
  border: 1px solid #dddddd;
  border-bottom: 2px solid #e12a27;
}